body {
  background-color: #f8f9fa;
}
.cart-header {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.empty-cart {
  color: #6c757d;
}
.style-btn {
  margin: 0.5rem 0;
    }
    
.img-producto {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}